<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="styles/style.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Evento App</title>
</head>
<body>
<header>
    <nav class="menu indigo darken-2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Evento</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/eventos" class="waves-effect waves-light btn-small teal darken-1">
                    <i class="material-icons left">format_list_bulleted</i>Lista de Eventos
                </a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container customBox">
    <h5 class="center">Detalhes do Evento</h5>
    <div th:each="evento: ${evento}">
        <div class="row">
            <p>Nome: <span th:text="${evento.nome}"></span></p>
            <p>Local: <span th:text="${evento.local}"></span></p>
            <p>Data: <span th:text="${evento.data}"></span></p>
            <p>Horário: <span th:text="${evento.horario}"></span></p>
        </div>
    </div>
</div>
<div class="container customBox">
    <th:block th:include="mensagemValidacao"></th:block>

    <form method="post">
        <div class="row">
            <div class="input-field col s8">
                Nome: <input type="text" value="" name="nomeConvidado">
            </div>
            <div class="input-field col s4">
                RG: <input type="text" value="" name="rg">
            </div>
        </div>
        <button class="waves-effect waves-light btn-small teal darken-1" type="submit">Adicionar</button>
    </form>
</div>

<div class="container customBox">
    <h5 class="center">Lista de Convidados</h5>
    <table class="row">
        <thead>
        <tr>
            <th>Nome</th>
            <th>RG</th>
            <th>Deletar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="convidado: ${convidados}">
            <td><span th:text="${convidado.nomeConvidado}"></span></td>
            <td><span th:text="${convidado.rg}"></span></td>
            <td>
                <a class="btn-floating btn-small waves-effect waves-light red darken-3"
                   th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg)).build()}">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>