<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="styles/style.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Evento App</title>
</head>
<body>
<header>
    <nav class="menu indigo darken-2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Lista de Eventos</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/cadastrarEvento" class="waves-effect waves-light btn-small teal darken-1">
                    <i class="material-icons left">add_circle_outline</i>Cadastrar Evento</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Local</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Deletar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="evento: ${eventos}">
            <td>
                <a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}">
                    <span th:text="${evento.nome}"></span>
                </a>
            </td>
            <td><span th:text="${evento.local}"></span></td>
            <td><span th:text="${evento.data}"></span></td>
            <td><span th:text="${evento.horario}"></span></td>
            <td>
                <a class="btn-floating btn-small waves-effect waves-light red darken-3"
                   th:href="${(#mvc.url('EC#deletarEvento').arg(0, evento.codigo)).build()}">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>