<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="alert alert-success alert-dismissable" role="alert" th:if="${not #strings.isEmpty(Mensagem)}">
    <b><span th:text="${Mensagem}"></span></b>
</div>

</body>
</html>